@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

// Colors (from http://colormind.io/bootstrap/)
$light-shades-color: #E7E6DD !default;
$light-accent-color: #C9AAA4 !default;
$main-brand-color: #D0734B !default;
$dark-accent-color: #594936 !default;
$dark-shades-color: #332748 !default;

// Import partials.
@import
  "styling/base"
;
