---
layout: default
---
{{content}}

<div class="contact-form">
    <form action="https://formspree.io/caslund@g.hmc.edu" method="POST">
        <label for="name"><strong>Name</strong></label>
        <input type="text" name="name"></br></br>
        <label for="email"><strong>Email</strong></label>
        <input type="email" name="email"></br></br>
        <label for="text"><strong>Message</strong></label>
        <textarea name="message" placeholder="Your message" rows="2"></textarea></br></br>
        <div id="submit-button">
            <input type="submit" value="Send">
        </div>
    </form>
</div>
